In [ ]:
pip install ipython-sql

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql sqlite://

In [5]:
import sqlite3

In [6]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\.jupyter\rakshitha\libs\new folder\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\.jupyter\rakshitha\libs\new folder\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\.jupyter\rakshitha\libs\new folder\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\.jupyter\rakshitha\libs\new folder\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\.jupyter\rakshitha\libs\new folder\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\.jupyter\rakshitha\libs\new folder\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import sqlite3
# Load the data
df = pd.read_csv(r"C:\Users\Admin\Downloads\archive (1)\medicine_data.csv")
# Create in memory SQLite database
conn = sqlite3.connect(":memory:")
# Load Dataframe into SQLite
df.to_sql("medicine data", conn, index=False, if_exists="replace")

195605

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

In [12]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("medicine_db.sqlite")
query = "SELECT * FROM medicine_data LIMIT 5;"
df = pd.read_sql(query, conn)
print(df.head())

          sub_category                                       product_name  \
0  Human Insulin Basal  Human Insulatard 40IU/ml Suspension for Injection
1  Human Insulin Basal                          Insulin 40IU/ml Injection
2  Human Insulin Basal                     Huminsulin N 40IU/ml Injection
3  Human Insulin Basal                        Insugen-N 40IU/ml Injection
4  Human Insulin Basal                        Insulatard 100IU/ml Flexpen

              salt_composition product_price  \
0      Insulin Isophane (40IU)       ₹133.93
1      Insulin Isophane (40IU)       ₹121.91
2      Insulin Isophane (40IU)       ₹133.45
3      Insulin Isophane (40IU)       ₹133.36
4  Insulin Isophane (100IU/ml)       ₹401.03

                  product_manufactured  \
0           Novo Nordisk India Pvt Ltd
1    Sun Pharmaceutical Industries Ltd
2  Eli Lilly and Company India Pvt Ltd
3                               Biocon
4           Novo Nordisk India Pvt Ltd

                                       medicine_desc  \
0  Human Insulatard 40IU/ml Suspension for Inject...
1  Insulin 40IU/ml Injection is used to improve b...
2  Huminsulin N 40IU/ml Injection is used to impr...
3  Insugen-N 40IU/ml Injection is used to improve...
4  Insulatard 100IU/ml Flexpen is used to improve...

                                        side_effects  \
0  Hypoglycemia (low blood glucose level),Injecti...
1  Hypoglycemia (low blood glucose level),Injecti...
2  Hypoglycemia (low blood glucose level),Injecti...
3  Hypoglycemia (low blood glucose level),Injecti...
4  Hypoglycemia (low blood glucose level),Injecti...

                                   drug_interactions
0  {"drug": ["Benazepril", "Captopril", "Enalapri...
1  {"drug": ["Benazepril", "Captopril", "Enalapri...
2  {"drug": ["Benazepril", "Captopril", "Enalapri...
3  {"drug": ["Benazepril", "Captopril", "Enalapri...
4  {"drug": ["Benazepril", "Captopril", "Enalapri...

In [19]:
# Show 10 Random Medicines
query = "SELECT product_name, product_price FROM medicine_data ORDER BY RANDOM() LIMIT 10;"
df = pd.read_sql(query, conn)
print(df)

                       product_name product_price
0         Oxyinoz 0.05% Nasal Drops          None
1      Sandostatin 0.05mg Injection          ₹323
2                    Gemidro Tablet       ₹300.05
3                 Exfaro 300 Tablet        ₹535.5
4             Enbrol 25mg Injection        ₹24429
5  Oxyinoz Infant 0.01% Nasal Drops          None
6                Mahacef 200 Tablet        ₹70.83
7              Olimelt 10 Tablet MD        ₹65.87
8              Clopam 1gm Injection       ₹287.06
9                 Aziderm 20% Cream       ₹221.85

In [18]:
# Count of Medicines per Subcategory
query = "SELECT sub_category, COUNT(*) AS total_medicines FROM medicine_data GROUP BY sub_category ORDER BY total_medicines DESC;"
df = pd.read_sql(query, conn)
print(df.head())

                               sub_category  total_medicines
0                   Systemic Antihistamines               45
1                   Atypical Antipsychotics               43
2                           Anti Epileptics               41
3  Vinca Alkaloids And Other Plant Products               40
4                 Varicose Therapy Systemic               40

In [16]:
# Top 5 Expensive Medicines
query = "SELECT product_name, product_price, product_manufactured FROM medicine_data ORDER BY product_price DESC LIMIT 5;"
df = pd.read_sql(query, conn)
print(df)

               product_name product_price           product_manufactured
0    Zavinex 3MIU Injection       ₹998.75                   Zydus Cadila
1      RotaTeq Oral Vaccine       ₹998.75    MSD Pharmaceuticals Pvt Ltd
2    Casfung 50mg Injection       ₹9955.2   Glenmark Pharmaceuticals Ltd
3  Filneon 300mcg Injection        ₹994.5          Neon Laboratories Ltd
4      Ricovir 300mg Tablet       ₹991.95  Mylan Pharmaceuticals Pvt Ltd

In [21]:
# Group by salt composition
query = "SELECT salt_composition, COUNT(*) AS total_products FROM medicine_data GROUP BY salt_composition ORDER BY total_products DESC;"
df = pd.read_sql(query, conn)
print(df.head())

                      salt_composition  total_products
0                     Loperamide (2mg)              37
1  Lactitol (10gm) + Ispaghula (3.5gm)              35
2                     Folic Acid (5mg)              34
3                   Ornidazole (500mg)              33
4               Nitrofurantoin (100mg)              32

In [23]:
# Average Price per subcategory
query = "SELECT sub_category, ROUND(AVG(product_price), 2) AS avg_price FROM medicine_data GROUP BY sub_category ORDER BY avg_price DESC;"
df = pd.read_sql(query, conn)
print(df.head())

                               sub_category  avg_price
0                     Vitamin K Antagonists        0.0
1  Vinca Alkaloids And Other Plant Products        0.0
2                 Varicose Therapy Systemic        0.0
3             Urinary Incontinence Products        0.0
4   Urinary Anti Infectives And Antiseptics        0.0

In [24]:
# List all side effects of a specific salt
query = "SELECT product_name, salt_composition, side_effects FROM medicine_data WHERE salt_composition LIKE '%Paracetamol%';"
df = pd.read_sql(query, conn)
print(df.head())

           product_name                                   salt_composition  \
0       Ultracet Tablet  Paracetamol/Acetaminophen  (325mg) +  Tramadol...
1      Calpol T  Tablet  Paracetamol/Acetaminophen  (325mg) +  Tramadol...
2  Ultracet Semi Tablet  Paracetamol/Acetaminophen  (162.5mg) +  Tramad...
3         Acuvin Tablet  Paracetamol/Acetaminophen  (325mg) +  Tramadol...
4    Mega Flexon Tablet  Paracetamol/Acetaminophen  (325mg) +  Tramadol...

                                        side_effects
0  Nausea,Vomiting,Constipation,Weakness,Dizzines...
1  Nausea,Vomiting,Constipation,Weakness,Dizzines...
2  Nausea,Vomiting,Constipation,Weakness,Dizzines...
3  Nausea,Vomiting,Constipation,Weakness,Dizzines...
4  Nausea,Vomiting,Constipation,Weakness,Dizzines...